<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zadanie_rekrutacyjne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        @{await Html.RenderPartialAsync("_Navbar"); }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @{await Html.RenderPartialAsync("_Footer"); }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/edit-modal.js" asp-append-version="true"></script>
    <script src="~/js/create-modal.js" asp-append-version="true"></script>
    <script src="~/js/delete-modal.js" asp-append-version="true"></script>
    <script src="~/js/detail-modal.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
