@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left mt-4">
    <b>Zadanie polega na oprogramowaniu mechanizmu zarządzania strukturą drzewiastą wraz z implementacją poprawnej obsługi formularzy.</b>
    <p>
        <ol>
            <li>
                Założenia co do technologii:
                <ul>
                    <li>baza danych MSSQL / MySQL / PostgreSQL,</li>
                    <li>ASP.NET / MVC / .NET Core,</li>
                    <li>HTML 5, CSS 3.</li>
                </ul>
            </li>
            <li class="mt-3">
                Założenia dotyczące realizacja zadania:
                <ul>
                    <li>struktura drzewiasta ma umożliwiać działanie na dowolnej ilości poziomów,</li>
                    <li>funkcje jakie mają być dostępne dla administratora: dodawanie, edycja, usuwania, sortowanie (zarówno węzłów jak i liści), przenoszenie węzłów do innych gałęzi,</li>
                    <li>powinna być możliwość rozwinięcia całej struktury lub wybranych węzłów,</li>
                    <li>powinny zostać zastosowane zabezpieczenia uniemożliwiające wprowadzanie nieprawidłowych danych,</li>
                    <li>wskazane zastosowanie skryptów client-side (własnych, nie gotowych rozwiązań jak np. jsTree)</li>
                    <li>obsługa formularzy powinna zawierać klasę do generowania formularzy wraz z wizualizacją, walidacją oraz zabezpieczeniami.</li>
                </ul>
            </li>
        </ol>
    </p>

</div>
